<li data-user-id="43847197" data-user-screenname="<%=user_id%>" data-remote="true"
                                            data-score="" class="typeahead-item js-selectable">
                                            <a href="<%=user_id%>">
                                                <img src="https://si0.twimg.com/profile_images/2303933774/image_mini.jpg"
                                                     width="24" height="24" class="avatar size24">
                                                <span class="fullname"><%=fullname%></span>

                                                <span class="username"><s>@</s><b><%=user_id%></b></span>
                                            </a>
                                        </li>