<div class="js-account-summary account-summary js-actionable-user account-summary-small"
     data-user-id="102594253" data-feedback-token="2">
    <div class="content">
        <a class="account-group js-recommend-link js-user-profile-link user-thumb"
           href="https://twitter.com/mbhandarkar268" data-user-id="102594253">

            <img class="avatar js-action-profile-avatar size32"
                 src="102_files/mbhandarkar268_normal.jpg" alt="Madhur Bhandarkar">
        <span class="account-group-inner js-action-profile-name" data-user-id="102594253">
          <b class="fullname">Madhur Bhandarkar</b>
          <span>‏</span>
          
          <span class="username"><s>@</s><span class="js-username">mbhandarkar268</span></span>
        </span>
        </a>

        <small class="metadata social-context">
        </small>
  
        <span class="user-actions not-following" data-user-id="102594253">
        <a href="#" class="follow-link">
            <span class="link-text follow-text">Follow</span>
            <span class="link-text unfollow-text">Unfollow</span>
            <span class="link-text cancel-text">Cancel</span>
        </a>
      </span>
    </div>
</div>