<li class="js-trend-item  " data-trend-name="#MyLastWordsBeforeIDie">
                        <a href="/<%=user_id%>"
                           data-query-source="trend_click"><%=fullname%></a>
                    </li>